<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            sMovies
            <img src="{{ logo.logos.url }}" alt="logo of sMovies" style="height:30px; width:30px; border-radius:50%">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a target="_blank" class="nav-link active" aria-current="page" href="https://imdb.com">
                        <button class="btn btn-outline-danger">
                            IMDB
                        <img src="{{ imdb.logos.url }}" alt="logo of imdb" style="height:20px; width:30px">
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" class="nav-link active" aria-current="page" href="https://rottentomatoes.com">
                        <button class="btn btn-outline-danger">
                            Rotten Tomatoes
                        <img src="{{ rotten_tomatoes.logos.url }}" alt="logo of rotten tomatoes" style="height:20px; width:50px;">
                        </button>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class=" nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <button class="btn btn-outline-success">Connect with me</button>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" target="_blank" href="https://facebook.com/iamsunilpoudel">Facebook</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.instagram.com/sunilpoudel__/">Instagram</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://github.com/sunil-poudel">Github</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/iamsunilpoudel/">Linkedin</a></li>
                    </ul>
                </li>
                
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="mx-3">
                {% if user.is_authenticated %}
                    <weak>Hi {{ user.username }}!</weak>
                    {% if user.user_profile.profile_picture %}
                        <img
                                src="{{ user.user_profile.profile_picture.url }}" 
                                alt="profile picture of {{ user.username }}"
                                style="width:30px; height:30px; border-radius:50%"
                        >
                    {% endif %}
                {% else %}
                    <weak>Hi guest!</weak>
                {% endif %}
            </div>
            <div class="mx-3">
                {% if user.is_authenticated %}
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">Logout</button>
                    </form>
                {% else %}
                    <button type="button" class="btn btn-outline-danger"><a style="text-decoration:none"
                                                                            href="{% url 'accounts:login' %}">Login</a>
                    </button>
                    <button type="button" class="btn btn-outline-warning"><a style="text-decoration:none"
                                                                             href="{% url 'accounts:register' %}">Register</a>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</nav>


{% block b %}

{% endblock %}

</body>
</html>